body{
    background-color: #181b24;
}

.card{
    max-width: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    backdrop-filter: blur(15px);
    box-shadow: inset 0 0 0 5px rgb(24, 27, 36, 0.274), 0 5px 5px rgb(204, 89, 235, 0.164);
    transition: 0.5s;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 50%;
    
}

.card:hover{
    animation: ease-out 5s;
    background: rgb(204, 89, 235, 0.05);
}

.card ul {
    padding: 1rem;
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.card ul li {
    cursor: pointer;
}

.svg{
    transition: all 0.3s;
    padding: 1rem;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    fill: currentColor;
    box-shadow: inset 0 0 20px rgb(204, 89, 235,0.3), 0 5px 5px rgba(203, 89, 235, 0.848);
}

.text{
    opacity: 0;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    transition: all 0.3s;
    color: rgb(204, 89, 235);
    background-color: rgb(204, 89, 235,0.1);
    position: absolute;
    z-index: 9999;
    box-shadow: 1px 0 1px rgb(204, 89, 235, 0.2),0px 0 1px rgba(153, 153, 153, 0.2), 
     0 5px 5px rgb(204, 89, 235, 0.082);

}

.iso-pro{
    transition: 0.5s;
}

.iso-pro:hover a > .svg{
    transform: translate(15px, -15px);
    border-radius: 100%;
}

.iso-pro:hover .text{
    opacity: 1;
    transform: translate(25px, -2px) ;
}

.iso-pro:hover .svg{
    transform: translate(5px, -5px);
}

.iso-pro span{
    opacity: 0;
    position: absolute;
    color: #1877f2;
    border-color: #1877f2;
    box-shadow: inset 0 0 20px rgb(204, 89, 235, 0.3),
    inset 0 0 5px rgb(204, 89, 235, 0.5), 0 5px 5px rgba(204, 89, 235, 0.164);
    border-radius: 50%;
    transition: all 0.3s;
    height: 60px;
    width: 60px;
}

