body{
    background-color: #181b24;
}

.Button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.HelloWorld{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5em;
    position: relative;
    border-radius: 50px;
    padding: 16px ;
    margin-top: 20%;
    background-color:  #181b24;         
    cursor: pointer ;
    color: #cc59eb;
    transition: transform 0.5s cubic-bezier(0.55, 1, 0.15, 1);
     -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #cc59eb, 5px 5px 15px #cc59eb,
    inset 5px 5px 10px #181b24, inset -5px -5px 10px #181b24;
    
}



button:hover {
   -webkit-box-shadow: 1px 1px 13px #C68FE6, -1px -1px 13px #b675d7;
    box-shadow: 1px 1px 13px #C68FE6, -1px -1px 13px #b675d7;
    color: #d6d6d6;
    -webkit-transition: 500ms;
     transition: 500ms;
}

button:active {
    -webkit-box-shadow: 1px 1px 13px #cc59eb, -1px -1px 33px #C68FE6;
    box-shadow: 1px 1px 13px #cc59eb, -1px -1px 33px #C68FE6;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
  }


.HelloWorld:active{
    transform: scale(0.80);
}

.HelloWorld:active::after{
    opacity: 1;
    outline: none;
    border: 0;
}

.HelloWorld::after{
    content: '';
    position: absolute;
    inset: 0;
    border-image-slice: 50%;
    border-image-width: 40px;
    border-style: solid;
    transform: scale(1.04, 1.08);
    opacity: 0;
    border: 0;
    transition-property: opacity;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.5, 1, 0.10, 1);
    will-change: transform;
}














